<div (click)="onProductClick()"
     [class.disabled]="!product.isEnabled"
     class="item-card border-1 surface-border border-round">
  <div class="image-oval">
    <img [alt]="product.name" src="/assets/images/testfood.jpeg"/>
    @if (!product.isEnabled) {
      <div class="disabled-overlay">
        <i class="pi pi-ban text-xl"></i>
      </div>
    }
  </div>
  <div class="product-info">
    <h3 class="text-lg font-semibold mb-2">{{ product.name }}</h3>
    <p class="description text-sm text-500 mb-2">{{ product.description }}</p>
    <p class="price text-lg font-bold text-primary">{{ product.price | currency }}</p>
  </div>
</div>
