@if (error) {
  <div class="error-message general-error">
    {{ error }}
  </div>
}


<form (ngSubmit)="onSubmit()" [formGroup]="ingredientForm">
  <div>
    <label for="name">Nombre:</label>
    <input formControlName="name" id="name" type="text"/>
    @if (ingredientForm.get('name')?.invalid && ingredientForm.get('name')?.touched) {
      <div class="error">
        Nombre es requerido y debe tener al menos 3 caracteres.
      </div>
    }
  </div>

  <div>
    <label for="pricePerUnit">Precio por Unidad:</label>
    <input formControlName="pricePerUnit" id="pricePerUnit" type="number"/>
    @if (ingredientForm.get('pricePerUnit')?.invalid && ingredientForm.get('pricePerUnit')?.touched) {
      <div
        class="error">
        Precio válido es requerido (mayor o igual a 0).
      </div>
    }
  </div>

  <div>
    <label for="unit">Unidad</label>
    <select formControlName="unit" id="unit">
      <option disabled value="">Seleccione una unidad</option>
      <option value="GRAMS">gramos</option>
      <option value="MILLILITRES">ml</option>
      <option value="UNITS">unidades</option>
    </select>
  </div>

  <div>
    <label for="availableStock">Stock Disponible:</label>
    <input formControlName="availableStock" id="availableStock" type="number"/>
    @if (ingredientForm.get('availableStock')?.invalid && ingredientForm.get('availableStock')?.touched) {
      <div
        class="error">
        Stock disponible válido es requerido (>= 0).
      </div>
    }
  </div>

  <div>
    <label for="minimumStockQuantity">Stock Mínimo:</label>
    <input formControlName="minimumStockQuantity" id="minimumStockQuantity" type="number"/>
    @if (ingredientForm.get('minimumStockQuantity')?.invalid && ingredientForm.get('minimumStockQuantity')?.touched) {
      <div
        class="error">
        Stock mínimo válido es requerido (>= 0).
      </div>
    }
  </div>

  <div>
    <label for="supplier">Proveedor:</label>
    <input formControlName="supplier" id="supplier" type="text"/>
    @if (ingredientForm.get('supplier')?.invalid && ingredientForm.get('supplier')?.touched) {
      <div class="error">
        Proveedor es requerido.
      </div>
    }
  </div>

  <button [disabled]="!ingredientForm.valid || loading"
          type="submit"> @if (loading) {
    <p-progressSpinner
      animationDuration="1s"
      strokeWidth="3"
      styleClass="w-4rem h-4rem"/>
  } @else {
    {{ ingredientToEdit ? 'Editar Ingrediente' : 'Crear Ingrediente' }}
  }
  </button>
</form>
