<form (ngSubmit)="onSubmit()" [formGroup]="productItemForm">

  <div class="field">
    <label for="name">Name:</label>
    <input
      formControlName="name"
      id="name"
      pInputText
      required
      type="text"
    />
    @if (productItemForm.get('name')?.errors?.['required'] && productItemForm.get('name')?.touched) {
      <small class="p-error">
        Name is required.
      </small>
    }
  </div>
  <div class="field">
    <label for="description">Description:</label>
    <textarea
      cols="30"
      formControlName="description"
      id="description"
      pInputTextarea
      required
      rows="5"></textarea>
    <!-- @if (productItemForm.get('supplier')?.errors?.['required'] && productItemForm.get('supplier')?.touched) {
       <small class="p-error">
         Supplier is required.
       </small>
     }-->
  </div>
  <div class="field">
    <label for="price">Price:</label>
    <p-inputNumber [maxFractionDigits]="5" [minFractionDigits]="1" [min]="0" currency="CAD" formControlName="price"
                   id="price"
                   inputId="price" mode="currency" required
                   showClear/>
  </div>
  <div class="field">
    <label for="category">Category:</label>
    <p-dropdown
      [checkmark]="true"
      [options]="categories"
      [showClear]="true"
      formControlName="category"
      id="category"
      inputId="category"
      optionLabel="label"
      optionValue="value"
      placeholder="Select a category"
      required/>
  </div>
  <div class="flex ingredient-selection align-items-center justify-content-between">

    <div class="field col-6">
      <label for="ingredients">Ingredients:</label>
      <p-multiSelect
        (onChange)="onIngredientSelect($event.value)"
        [options]="availableIngredients"
        [showToggleAll]="false"
        emptyFilterMessage="No ingredients match your search..."
        emptyMessage="No ingredients to display"
        filter
        formControlName="ingredients"
        id="ingredients"
        inputId="ingredients"
        optionLabel="name"
        optionValue="uuid"
        placeholder="Select the ingredients for the product"/>
    </div>
    <div class="flex flex-column align-content-end ingredients-quantity" formGroupName="ingredientQuantities">
      @for (selectedIngredient of selectedIngredients; track selectedIngredient.uuid) {
        <div class="ingredient-quantity flex align-items-center justify-content-end">
          <span class="name">{{ selectedIngredient.name }}:</span>

          <p-inputNumber [min]="0" mode="decimal"
                         (onInput)="onQuantityChange(selectedIngredient.uuid, $event)"
                         id="ingredient-name" inputId="quantity" [formControlName]="selectedIngredient.uuid"
                         required/>
          <span class="unit">{{ selectedIngredient.unit }}</span>
        </div>
      }
    </div>
  </div>
  <div class="recipe-calculation flex flex-column">
    @if (this.selectedIngredients.length > 0 && this.productItemForm.get('ingredientQuantities')?.value) {
      <p> total cost of producing your product item is $ {{ costOfProduction }}</p>
      <p>The suggested price for a 30% of profit would be {{ suggestedPrice }}</p>
    }

  </div>
  <div class="flex justify-content-end gap-2">
    <button
      (click)="onCancel()"
      class="p-button-text"
      label="Cancel"
      pButton
      type="button">
    </button>
    <button
      [disabled]="!productItemForm.valid"
      [label]="initialProductItem ? 'Update': 'Save'"
      pButton
      type="submit">
    </button>
  </div>
</form>
