<main class="page-container">
  <gm-products-table [style]="{'width': '100%', 'min-height': '100%'}"
                        [data]="products()"
                        [columns]="tableColumns"
                        [totalRecords]="totalRecords()"
                        [actions]="actions"
                        [loading] = "loading()"
                        [selectedProduct]="selectedProduct()"
                        (onProductSelected)="handleProductSelected($event)"
                        (changePage)="changePageHandler($event)"
  >
  </gm-products-table>
</main>

