<main class="page-container">
  <gm-products-table (changePage)="changePageHandler($event)"
                     (onProductSelected)="handleProductSelected($event)"
                     [actions]="actions"
                     [columns]="tableColumns"
                     [data]="products()"
                     [loading]="loading()"
                     [selectedProduct]="selectedProduct()"
                     [style]="{'width': '100%', 'min-height': '100%'}"
                     [totalRecords]="totalRecords()"
  >
  </gm-products-table>
</main>

