<form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
  <!-- Campo: Name -->
  <div>
    <input class="w-full md:w-30rem mb-5 p-2" formControlName="name" id="name" pInputText placeholder="Name"
           type="text">
    @if (registrationForm.get('name')?.invalid && registrationForm.get('name')?.touched) {
      <div>
        @if (registrationForm.get('name')?.errors?.['required']) {
          <small>Name is required.</small>
        }
      </div>
    }
  </div>

  <!-- Campo: Lastname -->
  <div>
    <input class="w-full md:w-30rem mb-5 p-2" formControlName="lastname" id="lastname" pInputText placeholder="Last Name"
           type="text">
    @if (registrationForm.get('lastname')?.invalid && registrationForm.get('lastname')?.touched) {
      <div>
        @if (registrationForm.get('lastname')?.errors?.['required']) {
          <small>Last name is required.</small>
        }
      </div>
    }
  </div>

  <!-- Campo: Username -->
  <div>
    <input class="w-full md:w-30rem mb-5 p-2" formControlName="username" id="username" pInputText placeholder="Username"
           type="text">
    @if (registrationForm.get('username')?.invalid && registrationForm.get('username')?.touched) {
      <div>
        @if (registrationForm.get('username')?.errors?.['required']) {
          <small>Username is required.</small>
        }
      </div>
    }
  </div>

  <!-- Campo: Password -->
  <div>
    <p-password [feedback]="false" [toggleMask]="true" formControlName="password" id="password"
                inputStyleClass="w-full p-2 md:w-30rem" placeholder="Password" styleClass="mb-5"></p-password>

    @if (registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched) {
      <div>
        @if (registrationForm.get('password')?.errors?.['required']) {
          <small>Password is required.</small>
        }
        @if (registrationForm.get('password')?.errors?.['minlength']) {
          <small>Password must be at least {{ registrationForm.get('password')?.errors?.['minlength'].requiredLength }}
            characters.</small>
        }
      </div>
    }
  </div>

  <!-- Grupo: Datos de contacto -->
  <div formGroupName="contact">
    <h3>Contact Information</h3>

    <!-- Campo: Email -->
    <div>
      <input class="w-full md:w-30rem mb-5 p-2" formControlName="email" id="email" pInputText placeholder="Email"
             type="text">

      @if (registrationForm.get('contact.email')?.invalid && registrationForm.get('contact.email')?.touched) {
        <div>
          @if (registrationForm.get('contact.email')?.errors?.['required']) {
            <small>Email is required.</small>
          }
          @if (registrationForm.get('contact.email')?.errors?.['email']) {
            <small>Invalid email format.</small>
          }
        </div>
      }
    </div>

    <!-- Campo: Website -->
    <div>
      <input class="w-full md:w-30rem mb-5 p-2" formControlName="website" id="website" pInputText placeholder="Website"
             type="text">

    </div>

    <!-- Campo: Phone -->
    <div>
      <input class="w-full md:w-30rem mb-5 p-2" formControlName="phone" id="phone" pInputText placeholder="Phone"
             type="tel">
    </div>
  </div>

  <!-- Grupo: Subscription -->
  <div formGroupName="subscription">
    <h3>Subscription Information</h3>

    <!-- Campo: Payment Token -->
    <div>
      <label for="paymentToken">Payment Token:</label>
      <input formControlName="paymentToken" id="paymentToken" type="text"/>
      <!-- Botón para simular el pago y generar el token dummy -->
      <button (click)="simulatePayment()" type="button">Simulate Payment</button>
    </div>

    <!-- Campo: Plan -->
    <div>
      <label for="plan">Plan:</label>
      <select formControlName="plan" id="plan">
        <option value="">Select a plan</option>
        @for (plan of subscriptionPlanStore.subscriptionPlans(); track plan.uuid) {
          <option [value]="plan.name">
            {{ plan.name }}
          </option>
        }

      </select>
      @if (registrationForm.get('subscription.plan')?.invalid && registrationForm.get('subscription.plan')?.touched) {
        <div>
          @if (registrationForm.get('subscription.plan')?.errors?.['required']) {
            <small>Plan is required.</small>
          }
        </div>
      }
    </div>
  </div>
  <button [disabled]="registrationForm.invalid || loading" type="submit">
    Register
    @if (loading) {
      <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
    }


  </button>

</form>

