<div class="container">
  <div class="orders-table">
    <gm-order-table
      (addNew)="handleAdd($event)"
      (delete)="handleDelete($event)"
      (edit)="handleEdit($event)"
      (invoiceGenerated)="handleInvoices($event)"
      (openModal)="handleOpenInvoiceModal($event)"
      (toggleSidebar)="handleToggleSidebar($event)"
      [data]="orderStore.orders()"
      [selectedOrder]="selectedOrder"
      [sidebarVisible]="sidebarVisible"
      [uninvoicedItems]="uninvoicedItems"
    >
    </gm-order-table>
  </div>
</div>

