<div class="container">
  <div class="right login-container">
    <form (ngSubmit)="handleLoginSubmit()" [formGroup]="loginForm">
      <div class="form-control username">
        <label for="username">Username: </label>
        <input formControlName="username" id="username" type="text">
      </div>
      <div class="form-control password">
        <label for="username">Password: </label>
        <input formControlName="password" id="password" type="text">
      </div>
      <div class="submit-button">
        <button [disabled]="this.loginForm.invalid" type="submit">Login</button>
      </div>
    </form>
  </div>
  <div class="left">
    image
  </div>
</div>
