<div class="container">
  <div class="mobile">
    <img alt="gm-logo" height="70" ngSrc="assets/images/gm-logo.svg" width="70"/>
    <button (click)="togglePrimary()">
      ☰
    </button>
  </div>
  <div class="desktop">
    Bienvenido {{ user()?.name }} {{ user()?.lastname }}
    ---

    <select (change)="changeSelectedRestaurant($event)">
      <!--  on select cambiar el valor de la variable restaurant en el interceptor-->
      @for (restaurant of allowedRestaurants(); track restaurant.uuid) {
        <option [value]="restaurant.uuid"> {{ restaurant.name }}</option>
      }
    </select>
    ---
    <button (click)="logout()">Logout</button>
  </div>

</div>
