<main class="page-container">
  <gm-orders-table (changePage)="changePageHandler($event)"
                   (onOrderSelected)="handleOrderSelected($event)"
                   [actions]="actions"
                   [columns]="tableColumns"
                   [data]="orders()"
                   [loading]="loading()"
                   [selectedOrder]="selectedOrder()"
                   [style]="{'width': '100%', 'min-height': '100%'}"
                   [totalRecords]="totalRecords()"
  >
  </gm-orders-table>
</main>
