<p-toolbar>
  <div class="p-toolbar-group-left gap-4">
    <div class="company-logo">
      <img ngSrc="assets/images/icon.png" alt="icon" height="40" width="40"></div>
    <p-button icon="pi pi-bars" (click)="toggleSidebar()" class="p-button-secondary"></p-button>
  </div>

  <div class="p-toolbar-group-center">
    <div class="restaurants">
      @if (role === 'ROLE_OWNER') {
        <p-dropdown
          [options]="restaurants"
          [(ngModel)]="assignedRestaurant"
          optionLabel="name"
          (onChange)="onSelectRestaurant()"/>
      } @else if (role === 'ROLE_SUPERUSER') {

      } @else {
        <div>{{ assignedRestaurant.name }}</div>
      }
    </div>
  </div>

  <div class="p-toolbar-group-right">
    <p-button icon="pi pi-user" [rounded]="true" severity="info" [outlined]="true" (onClick)="op.toggle($event)"/>
    <p-overlayPanel #op>
      <div class="flex flex-column gap-3 w-15rem">
        <p>Hello {{ role }}, these are the quick actions for your profile</p>
        <div>
          <span class="font-medium text-900 block mb-2">Share this document</span>

        </div>
        <div>
          <span class="font-medium text-900 block mb-2">Invite Member</span>
          <div class="flex">
            <p-button label="Invite" icon="pi pi-users"/>
          </div>
        </div>
        <div>
          <span class="font-medium text-900 block mb-2">Team Members</span>
          <p-button (onClick)="logout()" class="p-menuitem-link flex flex-column w-5" [style]="{backgroundColor: 'var(--surface-0)'}">
            <div class="pi pi-sign-out" style="color: var(--primary-color); font-size: 1.5rem"></div>
            <div class="menu-label">Logout</div>
          </p-button>
        </div>
      </div>
    </p-overlayPanel>
  </div>
</p-toolbar>
