<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button icon="pi pi-bars" (click)="toggleSidebar()" class="p-button-secondary"></p-button>
    <div class="company-logo"><img src="assets/icon.svg" alt="icon"></div>
  </div>

  <div class="p-toolbar-group-center">
    <div class="restaurants">
      @if(role === 'ROLE_OWNER') {
        <p-dropdown
          [options]="restaurants"
          [(ngModel)]="assignedRestaurant"
          optionLabel="name"
          (onChange)="onSelectRestaurant()" />
      } @else if (role === 'ROLE_SUPERUSER') {

      } @else {
        <div>{{ assignedRestaurant.name }}</div>
      }
    </div>
  </div>

  <div class="p-toolbar-group-right">
    <div class="user-profile">Profile</div>
  </div>
</p-toolbar>
<!--
<div class="header-wrapper">
  <div class="company-logo">comlog</div>
  <div class="exp-col-sidebar">button to collapse or expand</div>
  <div class="restaurants">list of rest for owner or 1 rest info for the rest</div>
  <div class="user-profile">profile</div>
</div>
-->
