<div class="container flex flex-column">
  @if (userInfo) {
    <div class="flex justify-content-between align-items-center mb-3">
      <!-- Left side: Welcome message -->
      <div class="welcome-message text-start">
        <h2 class="m-0">Hello, {{ userInfo.name }}!</h2>
        <p class="mt-2 mb-0 text-600">
          Welcome back. Your quick actions for the <strong>{{ userInfo.roles[0].name }}</strong> role are ready.
        </p>
      </div>

      <!-- Right side: Date and Time -->
      <div class="text-end">
        <p class="text-700 m-0">{{ currentDate | date: 'EEEE, MMMM d, y, h:mm a' }}</p>

      </div>
    </div>

    <div class="home-body flex gap-4">
      <gm-quick-actions (execute)="onQuickAction($event)" [actions]="actions" class="w-3"></gm-quick-actions>
      <gm-key-metrics [metrics]="summaryMetrics" class="min-h-full max-w-30rem"></gm-key-metrics>
    </div>
    <p>tabla de info de productos, por ej inventario bajo</p>
  } @else {

  }
</div>
