<main class="page-container">
  <gm-ingredients-table (changePage)="changePageHandler($event)"
                        (onIngredientSelected)="handleIngredientSelected($event)"
                        [actions]="actions"
                        [columns]="tableColumns"
                        [data]="ingredients()"
                        [loading]="loading()"
                        [selectedIngredient]="selectedIngredient()"
                        [style]="{'width': '100%', 'min-height': '100%'}"
                        [totalRecords]="totalRecords()"
  >
  </gm-ingredients-table>

  <gm-entity-detail-sidebar
    (onHide)="handleHideSidebar()"
    [loading]="loading()"
    [sections]="detailSections()"
    [subtitle]="sidebarSubtitle()"
    [title]="sidebarTitle()"
    [visible]="sidebarVisible"
  />
</main>
