<main class="page-container">
  <gm-ingredients-table [style]="{'width': '100%', 'min-height': '100%'}"
                        [data]="ingredients()"
                        [columns]="tableColumns"
                        [totalRecords]="totalRecords()"
                        [actions]="actions"
                        [loading] = "loading()"
                        [selectedIngredient]="selectedIngredient()"
                        (onIngredientSelected)="handleIngredientSelected($event)"
                        (changePage)="changePageHandler($event)"
  >
    <!-- Custom cell templates -->
    <ng-template #priceCell let-data>
      {{ data.price | currency:'USD':'symbol':'1.2-2' }}
    </ng-template>

    <ng-template #stockCell let-data>
        <span [class]="data.stock">
          {{ data.stock }}
        </span>
    </ng-template>
  </gm-ingredients-table>
  <p-sidebar [(visible)]="sidebarVisible" (onHide)="handleHideSidebar()" position="right">
    <h3>Right Sidebar</h3>
    {{selectedIngredient() | json}}
  </p-sidebar>
</main>
