<div class="layout-wrapper">
  @if (isLoggedIn() && tokenRole()) {
    <header class="header-container">
      <gm-header [role]="tokenRole()" [restaurants]="restaurants" [assignedRestaurant]="assignedRestaurant"
                 (restaurantSelection)="onRestaurantSelection($event)"></gm-header>
    </header>
  }
  <div class="main-wrapper">

    @if (isLoggedIn()) {
      <aside class="sidebar-container">
        <gm-sidebar></gm-sidebar>
      </aside>
    }

    <div class="main-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  @if (isLoggedIn()) {
    <footer class="footer-container">

      <gm-footer></gm-footer>
    </footer>
  }
</div>
