.text-success {
  color: green; /* Color para métricas positivas */
}

.text-danger {
  color: red; /* Color para métricas negativas */
}

.text-info {
  color: blue; /* Color para métricas neutrales */
}
