<p-toolbar>
  <div class="p-toolbar-group-left gap-4">
    <div class="company-logo">
      <img alt="icon" height="40" ngSrc="assets/images/icon.png" width="40"></div>
    <p-button (click)="toggleSidebar()" [outlined]="true" [style]="{border: 'none'}" class="p-button-secondary"
              icon="pi pi-bars"></p-button>
  </div>

  <div class="p-toolbar-group-center">
    <div class="restaurants">
      @if (role === 'ROLE_OWNER') {
        <p-dropdown
          (onChange)="onSelectRestaurant()"
          [(ngModel)]="assignedRestaurant"
          [options]="restaurants"
          optionLabel="name"/>
      } @else if (role === 'ROLE_SUPERUSER') {

      } @else {
        <div>{{ assignedRestaurant.name }}</div>
      }
    </div>
  </div>

  <div class="p-toolbar-group-right">
    <i class="pi pi-bell mr-4 p-text-secondary" pBadge style="font-size: 2rem" value="2"></i>
    <p-button (onClick)="op.toggle($event)" [outlined]="true" [rounded]="true" icon="pi pi-user" severity="info"/>
    <p-overlayPanel #op>
      <div class="flex flex-column gap-3 w-15rem">
        <p>Hello {{ role }}, these are the quick actions for your profile</p>
        <div>
          <span class="font-medium text-900 block mb-2">Share this document</span>

        </div>
        <div>
          <span class="font-medium text-900 block mb-2">Invite Member</span>
          <div class="flex">
            <p-button icon="pi pi-users" label="Invite"/>
          </div>
        </div>
        <div>
          <span class="font-medium text-900 block mb-2">Team Members</span>
          <p-button (onClick)="logout()" [style]="{backgroundColor: 'var(--surface-0)'}"
                    class="p-menuitem-link flex flex-column w-5">
            <div class="pi pi-sign-out" style="color: var(--primary-color); font-size: 1.5rem"></div>
            <div class="menu-label">Logout</div>
          </p-button>
        </div>
      </div>
    </p-overlayPanel>
  </div>
</p-toolbar>
